{# templates/number.html.twig #}

<html>
    <head>
        <title>{{ titulo }}</title>
    </head>
    <body>
        <h1>Your lucky number is {{ number }}</h1>
        <img src="{{ asset('images/captura.png') }}" style="border:1px solid black; height:100px"><br><br>
        <a href="{{ path('numero_aleatorio2') }}">enlace a la página principal</a>
    </body>
</html>
